---
import { ClientRouter } from "astro:transitions"
import { getLangFromUrl } from "../utils/i18n"
import CircleMouse from "@/components/others/CircleMouse"
interface Props {
	title: string
}

const { title } = Astro.props

const lang = getLangFromUrl(Astro.url)
---

<script>
	;(function () {
		const theme = localStorage.getItem("theme")

		if (theme) {
			theme === "dark" && document.documentElement.classList.add("dark")
		} else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
			document.documentElement.classList.add("dark")
			localStorage.setItem("theme", "dark")
		} else {
			localStorage.setItem("theme", "light")
		}
	})()

	window.addEventListener("scroll", () => {
		const elements = document.querySelectorAll(".fade-in-scroll")
		elements.forEach((element) => {
			if (element.getBoundingClientRect().y < window.innerHeight / 2) {
				element.classList.remove("fade-in-scroll")
			}
		})
	})
</script>

<html lang={lang} data-transition-name="root" data-transition-animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Santiago Castro Muñoz's portfolio showcasing projects and skills in web development, cloud, machine learning and blockchain."
		/>
		<meta
			name="keywords"
			content="Santiago Castro Muñoz, Portfolio, Head of Development, Web Development, Cloud, Machine Learning, Blockchain"
		/>
		<meta name="author" content="Santiago Castro Muñoz" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content="Santiago Castro Muñoz's portfolio showcasing projects and skills in web development, cloud, machine learning and blockchain."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:image" content="/images/my-photo.jpg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta
			name="twitter:description"
			content="Santiago Castro Muñoz's portfolio showcasing projects and skills in web development, cloud, machine learning and blockchain."
		/>
		<meta name="twitter:image" content="/images/my-photo.jpg" />
		<ClientRouter />
		<title>{title}</title>
	</head>
	<body class="bg-slate-200 dark:bg-gray-950">
		<div
			class="circular-gradient-light-purple circular-gradient-dark-purple fixed bottom-0 left-[-10%] right-0 top-[10%] z-0 aspect-square h-1/2 rounded-full"
		>
		</div>
		<div
			class="circular-gradient-light-purple circular-gradient-dark-purple fixed bottom-0 right-[-10%] top-[10%] z-0 aspect-square h-1/2 rounded-full"
		>
		</div>
		<CircleMouse client:only="react" />
		<main>
			<slot />
		</main>
		<style is:global>
			@font-face {
				font-family: "silkaregular_italic";
				src: url("/fonts/Silka/silka-regular-webfont.eot");
				src:
					url("/fonts/Silka/silka-regular-webfont.eot?#iefix")
						format("embedded-opentype"),
					url("/fonts/Silka/silka-regular-webfont.woff2") format("woff2"),
					url("/fonts/Silka/silka-regular-webfont.woff") format("woff"),
					url("/fonts/Silka/silka-regular-webfont.ttf") format("truetype");
				font-weight: normal;
				font-style: normal;
			}

			html {
				scroll-behavior: smooth;
				scrollbar-color: #818cf8 transparent;
				font-family:
					"silkaregular_italic",
					Jakarta,
					sans-serif,
					-apple-system,
					BlinkMacSystemFont,
					Segoe UI,
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					Open Sans,
					Helvetica Neue;
			}

			html.dark {
				color-scheme: dark;
				scrollbar-color: #a78bfa transparent;
			}

			.circular-gradient-light-purple {
				background-image: radial-gradient(
					circle farthest-side,
					rgb(165, 180, 252),
					transparent
				);
			}

			html.dark .circular-gradient-dark-purple {
				background-image: radial-gradient(
					circle farthest-side,
					rgb(46, 16, 101),
					transparent
				);
			}

			.fade-in-scroll {
				animation: fade-in 1s ease-out forwards;
				animation-range: entry 0 cover 30%;
				animation-timeline: view();
			}
		</style>
	</body>
</html>
